.sidebar{
    width: 270px;
    min-height: 280px;
    background: rgb(255, 255, 255);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1{
    color: orange;
    font-family: Harrington;
}