.main{
  width: 1000px;
  height: 600px;
  background-image: linear-gradient(-60deg, #ff5858 0%, #e9a74b 100%);
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main1{
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main2{
  width: 940px;
  height: 540px;
  background-color: transparent;
}